spatial_topography-Data_Management.txt
.bash_history
.bashrc
data/output
CBIG_config_CUBIC_FS6.0.sh
.config/
.history
.java
.subversion/
.tmpcheck-cubic-login1
/RAW/
dropbox/
matlab/
/public_data/**
/tools/
/data/for_dylan
/data/ImageAndDemoOnly
/data/ImageandQCandDemo
/data/ProcDTIandMRI
/data/subjData
/data/imageData
/data/wsbm
/data/clustering/
/data/subjects
/data/task_maps/
/docs
/output
**/.DS_Store
**/.RData
**/.Rhistory
/code/analysis-nda17
/code/analysis-nda18
/code/analysis-nda/*
**/*csv.[0-9].csv
**/*csv.[0-9][0-9].csv
/code/analysis-nda18/**
/code/analysis-nda/**
